/**
 * @name Liberalio
 * @author PepsiTakumi
 * @description The queen.
 * @version 1.0
 */

/* IMPORT CSS */

/* ACCENT COLORS */

/* STATUS COLORS */

/* APP BACKGROUND */

/* HOME ICON */

/* ADD ADDITIONAL CSS BELOW HERE */
